/* header */
ul {
  display: flex;
  gap: 50px;
}
ul > li {
  list-style-type: none;
  font-size: 30px;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  background-color: rgb(249, 171, 133);
}
nav {
  display: flex;
  align-items: center;
  gap: 50px;
  position: relative;
  left: 150px;
}
nav li a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  list-style: none;
}
#logo img {
  width: 120px;
  position: relative;
  right: 150px;
  border-radius: 50%;
  height: 100px;
}
